<footer class="site-footer">
      <div class="footer-section footer-contact">
        <p>contact us via AmazoomCS@yahoo.com or our socials</p>

        <div class="socials-icons">
          <a href="error404.html" class="icon">
            <img
              src="Resources/Images/Icons/xlogo.png"
              alt="x twitter logo"
              class="icon-img"
            />
          </a>

          <a href="error404.html" class="icon">
            <img
              src="Resources/Images/Icons/instalogo.png"
              alt="instagram logo"
              class="icon-img"
            />
          </a>

          <a href="error404.html" class="icon">
            <img
              src="Resources/Images/Icons/fblogo.png"
              alt="facebook logo"
              class="icon-img"
            />
          </a>
        </div>

        <p>feel free to also sign up to our newsletter!</p>

        <form class="newsletter-form">
          <input
            type="email"
            placeholder="enter your email address..."
            class="newslettersignup"
            required
          />
          <button type="submit">sign up</button>
        </form>
      </div>

      <div class="footer-categories">
        <h4>categories</h4>
        <a href="category.html?category=Electronics">electronics</a>
        <a href="category.html?category=Clothing">clothing</a>
        <a href="category.html?category=Home%20%26%20Kitchen">home & kitchen</a>
        <a href="category.html?category=Automotive">automotive</a>
      </div>
    </footer>