<header class="navbar">
  <div class="nav-left">
    <a href="home.html" class="logo">
      <img
        src="Resources/Images/Icons/amazoom.png"
        alt="Logo - The Basics"
        class="logo-img"
      />
    </a>
  </div>

  <nav class="nav-center">
    <a href="home.html">Home</a>
    <a href="home.html#categories">Categories</a>
    <a href="productList.html">Products</a>
    <a href="about.html">About</a>
  </nav>

  <div class="nav-right">
    <input type="text" placeholder="search" class="search-input" />

    <a href="cart.html" class="icon">
      <img src="Resources/Images/Icons/Cart.png" alt="Cart" class="icon-img" />
    </a>
    <a href="useraccount.html" class="icon">
      <img
        src="Resources/Images/Icons/Profile.png"
        alt="Profile"
        class="icon-img"
      />
    </a>
  </div>
</header>
